/*
  Could use better Sass with variables, etc, after ejecting the
  create-react-app config and tweaking webpack conf.
*/

.image-gallery {
  overflow: hidden; /* for animating entry/exit of images */
  height: 350px;
  width: 350px;
  margin: 0 auto;
  position: relative;
}

.image-gallery figure {
  display: flex;
  align-items: center;
  position: absolute;
  width: 350px;
  height: 100%;
  margin: 0 auto;
}

.image-gallery figcaption {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 2em;
  padding: 4px 8px;
}

.image-gallery figcaption div {
  height: calc(1em + 4px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-gallery figure img {
  max-width: 350px;
  max-height: 350px;
  height: auto;
}

.figure-content-wrap {
  margin: auto;
  max-width: 350px;
}

.fade-enter .figure-content-wrap {
  transform: translateX(-350px);
  opacity: 0;
  transition: transform 500ms, opacity 500ms;
}

.fade-enter-active .figure-content-wrap {
  transform: translateX(0);
  opacity: 1;
}

.fade-exit .figure-content-wrap {
  transition: transform 500ms, opacity 500ms;
}

.fade-exit-active .figure-content-wrap {
  transform: translateX(350px);
  opacity: 0;
}
