.image-gallery figure {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.image-gallery figcaption {
  cursor: help;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.5);

  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 8px 0;

  transition: opacity 300ms;
}

.image-gallery figcaption div {
  height: calc(1em + 4px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-gallery figure img {
  max-width: 100%;
  max-height: 350px;
  height: auto;
  transition: transform 500ms, opacity 500ms;
}

.figure-content-wrap {
  margin: auto;
}

.fade-enter img {
  opacity: 1;
}

.exit-right .fade-enter img {
  transform: translateX(-350px);
}

.exit-left .fade-enter img {
  transform: translateX(350px);
}

.exit-left .fade-enter-active img, .exit-right .fade-enter-active img {
  transform: translateX(0);
  opacity: 1;
}

.fade-exit-active img {
  opacity: 0;
}

.exit-right .fade-exit-active img {
  transform: translateX(350px);
}

.exit-left .fade-exit-active img {
  transform: translateX(-350px);
}

.fade-exit figcaption {
  opacity: 0;
}
