.gallery-btn {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  font-size: 3em;
  border: 1px solid black;
  transition: font-size 300ms, background 300ms;
}

.gallery-btn:hover {
  background: rgba(255, 255, 255, 0.7);
  font-size: 3.2em;
  cursor: pointer;
}

.gallery-btn:focus {
  outline: 0;
}

.gallery-btn-next {
  right: 0;
}

.gallery-btn-prev {
  left: 0;
  transform: scaleX(-1.0);
}

.fade-enter-active + .gallery-btn, .fade-enter-active + .gallery-btn + .gallery-btn {
  display: none;
}
