/*
  Could use better Sass with variables, etc, after ejecting the
  create-react-app config and tweaking webpack conf.
*/

.image-gallery {
  background: #888;
  display: flex;
  align-items: center;

  overflow: hidden; /* for animating entry/exit of images */

  height: 350px;
  width: 100%;

  position: relative;
  top: 25px;
  margin: 0 auto;
}
