/*
  Could use better Sass with variables, etc, after ejecting the
  create-react-app config and tweaking webpack conf.
*/

.image-gallery {
  background: #333;
  display: flex;
  align-items: center;
  overflow: hidden; /* for animating entry/exit of images */
  height: 350px;
  width: 350px;
  margin: 0 auto;
  position: relative;
}
